*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background:  #262626;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: none;
    letter-spacing: 15px;
    animation: animate 1.5s infinite linear;
}
@keyframes animate{
    0%{
        color: #484848;
        text-shadow: none;
    }
    18%{
        color: #484848;
        text-shadow: none;
    }
    20%{
        color: #fff900;
        text-shadow: 0 0 7px #fff900,
        0 0 20px ff6c00;
    }
    30%{
        color: #484848;
        text-shadow: none;
    }
    35%{
        color: #fff900;
        text-shadow: 0 0 7px #fff900,
        0 0 20px ff6c00;
    }
    70%{
        color: #484848;
        text-shadow: none;
    }
    85%{
        color: #fff900;
        text-shadow: 0 0 7px #fff900,
        0 0 20px ff6c00;
    }
    90%{
        color: #484848;
        text-shadow: none;
    }
    100%{
        color: #484848;
        text-shadow: none;
    }
}